.question-errors
= f.label :title
= f.text_field :title, class: 'form-control', style: 'width:50%;'
= f.label :body
= f.text_area :body, rows: 5, class: 'form-control', style: 'width:50%;'
p Прикрепления:
= f.fields_for :attachments do |a|
  = a.label :file
  = a.file_field :file
br
= f.submit t('.action', action: @question.new_record? ? 'Создать' : 'Изменить'), class: 'btn btn-default'
