- if can?(:unsubscribe, question)
  .unsubscribe-from-question.margin-bottom = link_to t('questions.unsubscribe'),
                                           [question, question.get_subscription_by(current_user)],
                                           class: 'btn btn-default pull-right',
                                           method: :delete, remote: true
