$('.question-errors').html('');

<% if @question.errors.present? %>
  <%	@question.errors.each do |attr, message| %>
    $('.question-errors').append('<p class="alert alert-danger"><%= j message %></p>');
  <% end %>
<% else %>
  $('.question-show').replaceWith('<%= j render @question %>');
  $('.question-edit').hide();
  $('.edit-question-link').show();
<% end %>
