$('.question-errors').html('');

<% if @question.errors.present? %>
  <%	@question.errors.each do |attr, message| %>
    $('.question-errors').append('<p class="alert alert-danger"><%= j message %></p>');
  <% end %>
<% else %>
  $('.question-wrapper div.question-show').remove();
//   делаю так, потому что при изменении html() у меня просто будет вложеный див question-show в question-show
  $('.question-wrapper').prepend('<%= j render @question %>');
  $('.question-edit').hide();
  $('.edit-question-link').show();
<% end %>
