var newBestAnswer = $('div[data-answer-id=<%= @answer.id %>]');
var newLinkBestAnswer = newBestAnswer.find('a[href="/answers/<%= @answer.id %>/best"]');

$('.answers div:first-child').before(newBestAnswer);

newLinkBestAnswer.before('<span id="this-is-best">Это лучший ответ!</span>');
newLinkBestAnswer.remove();

if ($('.answers div:nth-child(2) span#this-is-best').text() != '') {
    $('.answers div:nth-child(2) span').remove('#this-is-best');

    var dataOldBestAnswer = $('.answers div:nth-child(2)').data('answerId');
    var url = '/answers/' + dataOldBestAnswer + '/best';

    $('.answers div:nth-child(2) #br-best-answer').before(
        '<a data-remote="true" rel="nofollow" data-method="patch" href="'+ url +'" >Лучший ответ</a>'
    );
}

// а вначале был такой короткий код ....