var answer = $('div[data-answer-id=<%= @answer.id%>]');

<% if @answer.errors.present? %>
  var answerErrors = answer.find('.answer-errors');

  <% @answer.errors.each do |attr, message| %>
    $(answerErrors).append('<p class="alert alert-danger"><%= j message %></p>');
  <% end %>
<% else %>
  answer.replaceWith('<%= j render @answer %>');
<% end %>
