<p>Вы можете переголосовать</p>
<a class="re-vote-for-answer" data-type="json" data-id="<%= votable.id %>" data-question-id="<%= votable.question %>"
href="/questions/<%= votable.question %>/answers/<%= votable.id %>/re_vote">Переголосовать</a>
